<div class="card c-child-area-card" style="width: 100%;" *ngIf="childAreaItem">
  <img class="card-img-top" [src]="childAreaItem.logo" alt="Child area logo">
  <div class="card-body text-center">
    <h4 class="card-title">{{childAreaItem.name}}</h4>
    <p class="card-text">{{childAreaItem.intro}}</p>
    <a routerLink="{{childAreaItem.url}}" class="btn btn-primary">Read more <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  </div>
</div>