<div *ngIf="categoryContent">
  <div class="header-image" [ngStyle]="{'background': '#fff url(' + categoryContent.headerImage + ') no-repeat center center'}">
    <div class="header-image-text container">
      <div class="row text-center">
        <h1 class="col-12">{{categoryContent.title}}</h1>
        <h3 class="col-12">{{categoryContent.subTitle}}</h3>
      </div>
    </div>
  </div>
  <div class="page-content container">
    <div class="row text-center">
      <p class="col-12">{{categoryContent.content}}</p>
    </div>
  </div>
</div>
