<div *ngIf="!loading" >
    <app-category-navigation [categoryItems]="categoryItems"></app-category-navigation>
    <div class="c-content">
        <router-outlet></router-outlet>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>