<ul class="c-sub-area-list text-center">
  <li class="c-sub-area-item" *ngFor="let subAreaItem of subAreaItems">
    <a routerLink="{{subAreaItem.url}}" class="c-sub-area-link">{{subAreaItem.name}}</a>
  </li>
</ul>