.c-sub-area-list {
    list-style-type: none;
    padding: 0px;
    border: 1px solid #007bff;

    .c-sub-area-item {
        border-bottom: 1px solid #007bff;
        
        &:last-of-type {
            border-bottom-width: 0px;
        }

        &:hover {
            background-color: #007bff;
            .c-sub-area-link {
                color: #fff;
            }
        }

        .c-sub-area-link {
            padding-top: 15px;
            padding-bottom: 15px;
            display: block;
        }
    }
}