<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 c-cat-navbar">
  <a class="navbar-brand" routerLink="/">CEVO Navigation Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="dropdown" *ngFor="let categoryItem of categoryItems">
        <div class="btn-group">
          <a routerLink="{{categoryItem.url}}" [routerLinkActive]="['c-selected-category']" class="btn btn-primary">{{categoryItem.name}}</a>
          <button *ngIf="categoryItem.children" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split c-area-toggler" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <app-area-navigation [areaItems]="categoryItem.children"></app-area-navigation>
        </div>
      </li>
    </ul>
  </div>
</nav>
