.c-cat-navbar {
    margin-bottom: 0 !important;

    .btn-group {
        border: 1px solid white;
        border-radius: 3px;
        margin: 0px 10px;

        .btn-primary {
            border-width: 0px;
            &:hover, &:active, &:focus {
                border-width: 0px;
                box-shadow: none;
                z-index: auto;
            }
        }

        .dropdown-toggle {
            &:hover, &:active, &:focus {
                box-shadow: none;
            }
        }

        .dropdown-menu {
            margin-top: 9px;
            
            .c-dropdown-row {
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        .c-selected-category {
            background-color: darken(#007bff, 10%);
        }

        .c-area-toggler {
            border-left: 1px solid white;

            &:hover, &:active, &:focus {
                border-left: 1px solid white;
                box-shadow: none;
            }
        }
    }
}