<div *ngIf="areaContent">
  <div class="header-image" [ngStyle]="{'background': '#fff url(' + areaContent.headerImage + ') no-repeat center center'}">
    <div class="header-image-text container">
      <div class="row text-center">
        <h1 class="col-12">{{areaContent.title}}</h1>
        <h3 class="col-12">{{areaContent.subTitle}}</h3>
      </div>
    </div>
  </div>
  <div class="page-content container">
    <div class="row text-center">
      <app-sub-area-navigation *ngIf="subAreaItems && subAreaItems.length > 0" [subAreaItems]="subAreaItems" class="col-4"></app-sub-area-navigation>
      <p [ngClass]="{'col-8': subAreaItems, 'col-12': !subAreaItems || subAreaItems.length == 0}">{{areaContent.content}}</p>
    </div>
  </div>
</div>