<div *ngIf="areaItems" class="dropdown-menu" [style.width.px]="areaItems.length/10 * 200">
  <div class="row c-dropdown-row">
    <ng-container *ngFor="let listedAreaItem of listedAreaItems">
      <ng-container *ngFor="let areaItem of listedAreaItem">
          <a class="dropdown-item" [ngClass]="'col-' + colSize" [routerLinkActive]="['c-selected-area']" routerLink="{{areaItem.url}}">{{areaItem.name}}</a>
      </ng-container>
    </ng-container>
  </div>
</div>