<div *ngIf="!loading" class="page">
  <div *ngIf="subAreaContent">
    <div *ngIf="selectedArea" class="c-area-back-navigation">
      <a routerLink="{{selectedArea.url}}" class="btn btn-primary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go back to {{selectedArea.name}}</a>
    </div>
    <div class="container">
      <div class="row text-center">
        <h1 class="col-12 c-page-title">{{subAreaContent.title}}</h1>
        <h3 class="col-12 c-page-sub-title">{{subAreaContent.subTitle}}</h3>
      </div>
    </div>
    <div class="page-content container">
      <div class="row text-center">
        <p class="col-12">{{subAreaContent.content}}</p>
      </div>
      <div *ngIf="childAreaItems" class="row c-child-area-navigation">
        <div *ngFor="let childAreaItem of childAreaItems" class="col-4">
          <app-child-area-navigation [childAreaItem]="childAreaItem"></app-child-area-navigation>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>