.c-page-title {
    margin-top: 90px;
}

.c-area-back-navigation {
    position: absolute;
    top: 90px;
    left: 30px;
}

.c-child-area-navigation {
    margin-top: 30px;
}

.page-content {
    margin-top: 60px;
}