<div *ngIf="!loading" class="page">
  <div *ngIf="childAreaContent">
    <div *ngIf="selectedSubArea" class="c-area-back-navigation">
      <a routerLink="{{selectedSubArea.url}}" class="btn btn-primary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go back to {{selectedSubArea.name}}</a>
    </div>
    <div class="container">
      <div class="row text-center">
        <h1 class="col-12 c-page-title">{{childAreaContent.title}}</h1>
        <h3 class="col-12 c-page-sub-title">{{childAreaContent.subTitle}}</h3>
      </div>
    </div>
    <div class="page-content container">
      <div class="row text-center">
        <p class="col-12">{{childAreaContent.content}}</p>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>